.sh{
    width:100px;
    opacity: 0;
    transition: opacity 3s;
}

.sh:hover{
    opacity: 100%;
}
    
.AboutDescription{ 
    font-size:1.1rem;
    font-weight: 550;
    color:black;
} 


@media only screen and (max-width: 600px){

    .h2Label{
        margin-top: 100px;
    }

    p{
        font-size: 16px ;
    }
    
    .AboutDescription{ 
        max-width:70%;
        width:70%;
        font-size:0.9rem!important;
        font-weight: 550;
    } 
 }  