
.BodyApod{
    overflow-x: hidden; 
}

.SmallImage{
    padding-top: 70px;
}

.BodyApod img{
    width:100%;
}

.InfoApod{
    display:grid;
    padding-top:80px;
    margin: 0px 30px;
    grid-template-columns: 50% 50%;
}

.Title, .Date, .Photographer{
    flex:1
}

.Date{
    font-size: 1.6rem;}

.Title{
    letter-spacing: 0.3rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-start;
    margin-left:90px;
    padding-top: 40px;
    transition: transform .5s ease;
}

.Photographer{
    letter-spacing: 0.2rem;
    display: flex;
    font-size: 1.6rem;
    justify-content: flex-start;
    margin-left:60px;
}

.Title:hover{
    transform:scale(1.05,1.05) translateX(30px);
}

.Explanation{
    letter-spacing: 0.1rem;
    display: flex;
    padding-top: 60px;
    font-size: 1.2rem;
    justify-content: flex-start;
    margin-left:50px;
    max-width: 600px;
    font-weight: 500;
    
}

.SmallImage{
    width: 300px!important;
}

.MainImage{
    height: 100vh;
}

@media only screen and (max-width: 700px){
    
.InfoApod{
    display:flex;
    margin: 0px 30px;
    flex-direction: column;
    text-align: center;
    }

.Explanation{
    display: flex;
    justify-content: center;
    margin:auto;
    width: 80%;
    padding-top: 30px;
    font-size: 1rem;
    letter-spacing: 0.2;
    font-weight: 500;
    }

.Title{
    display: flex;
    justify-content: center;
    margin-left:0px;
    padding-top: 40px  0px;
    margin: 0px 20px;
    font-size:1.4rem!important;
}

.Photographer{
    display: flex;
    justify-content: center;
    margin-left:0px;
    font-size:1.2rem!important;
    }

.SmallImage{
    width: 300px!important;
    padding-top:30px;
    }

.Date{
    font-size:1.4rem!important;
    padding-top:30px;
    }
}