.MainHeader{
    z-index: 10000!important;
    position: fixed!important;
    top: 0px!important;
    width: 100%!important;
}

.MainHeader h2{
    color:white;
}

.headerLinks h3{
    color:white;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.brandHolder h2{
    font-weight: 600!important;
}


@media only screen and (max-width: 660px){

    .MainHeader h2{
        font-size: 25px;
    }

    .headerLinks h3{
        font-size: 20px!important;
    }

    .hamburger{
        margin-left:5rem!important;
    }
} 

@media only screen and (max-width: 340px){
    .brandHolder{
        padding-left:5px!important;
    }
} 